.app_dark_theme {
    --bg-color: #191a1c;
    --inverted-bg-color: #e8e8e8;
    --primary-color: #e8e8e8;
    --inverted-primary-color: #d08b52;
    --secondary-color: hsl(0deg 0% 100% / 55%);
    --inverted-secondary-color: #151515;

    // skeleton
    --skeleton-color: #4b4b50;
    --skeleton-shadow: #313133;

    // code
    --code-bg: #050505;

    // cards
    --card-bg: #252525;
}
