.app_dark_theme {
    --bg-color: #191a1c;
    --inverted-bg-color: #e8e8e8;
    --primary-color: #e8e8e8;
    --inverted-primary-color: #d08b52;
    --secondary-color: hsl(0deg 0% 100% / 55%);
    --inverted-secondary-color: #151515;

    // redesigned
    --dark-bg-redesigned: #090f11;
    --bg-redesigned: #0c1214;
    --light-bg-redesigned: #151c1f;
    --text-redesigned: #dbdbdb;
    --hint-redesigned: #555;
    --cancel-redesigned: #d95757;
    --save-redesigned: #6cd98b;
    --icon-redesigned: #74a2b2;
    --accent-redesigned: #5ed3f3;

    // skeleton
    --skeleton-color: #4b4b50;
    --skeleton-shadow: #313133;

    // code
    --code-bg: #050505;

    // cards
    --card-bg: #252525;

    // listBox
    --listbox-bg: #252525;
}
