.app_green_theme {
    --bg-color: #a2bd9a;
    --inverted-bg-color: #f8fbf4;
    --primary-color: #f8fbf4;
    --inverted-primary-color: #2a4705;
    --secondary-color: #211d03;
    --inverted-secondary-color: #211d02;

    // skeleton
    --skeleton-color: #436048;
    --skeleton-shadow: rgb(9 8 8 / 26%);
}
