.app_green_theme {
    --bg-color: #2a4705;
    --inverted-bg-color: #f8fbf4;
    --primary-color: #f8fbf4;
    --inverted-primary-color: #2a4705;
    --secondary-color: #211d03;
    --inverted-secondary-color: #211d02;
}
