.app_green_theme {
    --bg-color: #a2bd9a;
    --inverted-bg-color: #f8fbf4;
    --primary-color: #f8fbf4;
    --inverted-primary-color: #2a4705;
    --secondary-color: #211d03;
    --inverted-secondary-color: #211d02;

    // redesigned
    --dark-bg-redesigned: #fff3d6;
    --bg-redesigned: #f0c048;
    --light-bg-redesigned: #f2d791;
    --text-redesigned: #1b1311;
    --hint-redesigned: #b8b2a2;
    --cancel-redesigned: #ff5e5e;
    --save-redesigned: #52fa81;
    --icon-redesigned: #4875f0;
    --accent-redesigned: #1d59ff;

    // skeleton
    --skeleton-color: #436048;
    --skeleton-shadow: rgb(9 8 8 / 26%);

    // cards
    --card-bg: #6b8067;

    // listBox
    --listbox-bg: #6b8067;
}
